<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 注解扫描 -->
    <context:component-scan base-package="cn.idealismxxm.onlinejudge" />

    <!-- 启用 Spring MVC 注解 -->
    <mvc:annotation-driven />

    <!-- 静态文件访问 -->
    <mvc:default-servlet-handler/>

    <!-- 配置视图解析类 -->
    <bean id="httlViewResolver" class="httl.web.springmvc.HttlViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8" />
        <property name="prefix" value="WEB-INF/view/" />
        <property name="suffix" value=".httl" />
    </bean>

</beans>